
aiohttp="==3.8.1"
aiosignal="==1.2.0"
apache-airflow-providers-facebook="==2.2.3"
apache-airflow-providers-salesforce="==3.4.4"
apache-airflow-providers-sftp="==2.6.0"
apache-airflow-providers-slack="==4.2.3"
async-timeout="==4.0.2"
asynctest="==0.13.0"
authlib="==1.0.1"
bingads="==13.0.13"
cached-property="==1.5.2"
cmdstanpy="==0.9.68"
convertdate="==2.4.0"
curlify="==2.2.1"
cycler="==0.11.0"
cython="==0.29.30"
decorator="==5.1.1"
ephem="==4.1.3"
facebook-business="==13.0.0"
fonttools="==4.33.3"
frozenlist="==1.3.0"
fsspec="==2022.5.0"
future="==0.18.2"
gcsfs="==2022.5.0"
google-cloud-bigquery-storage="==2.13.2"
hijri-converter="==2.2.4"
holidays="==0.14.2"
kiwisolver="==1.4.2"
korean-lunar-calendar="==0.2.1"
lunarcalendar="==0.0.9"
lxml="==4.9.0"
matplotlib="==3.5.2"
multidict="==6.0.2"
pillow="==9.1.1"
prophet="==1.0.1"
pycountry="==22.3.5"
pygsheets="==2.0.5"
pymeeus="==0.5.11"
pystan="==2.19.1.1"
requests-file="==1.5.1"
requests-toolbelt="==0.9.1"
setuptools-git="==1.2"
simple-salesforce="==1.11.6"
slack-sdk="==3.17.0"
suds-community="==1.1.1"
tableauserverclient="==0.19.0"
tqdm="==4.64.0"
ujson="==5.3.0"
yarl="==1.7.2"
zeep="==4.1.0"
